server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/rp_empreendimentos?useSSL=false&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: admin

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
